@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
  --primary-color: #ffbe0b;
  --dark-color: #333333;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: calc(16px + (50 - 16) * ((100vmin - 300px) / (2560 - 300)));
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
}

.hero-section {
  height: 100vh;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url(./images/main-img.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #fff;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.bg-nav {
  display: none;
}

.logo,
.nav-toggle {
  margin: 2rem;
  color: #fff;
  z-index: 1;
}

.logo {
  position: absolute;
  top: 0;
  left: 0;
}

.nav-toggle {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 99;
  color: black;
  cursor: pointer;
}

.menu-line {
  display: block;
  height: 5px;
  width: 50px;
  margin: 10px auto;
  transition: all 0.7s ease;
  background: #fff;
}

.active .top {
  transform: translateY(15px) rotateZ(45deg);
  background: var(--dark-color);
}

.active .middle {
  width: 0;
  background: var(--dark-color);
}

.active .bottom {
  transform: translateY(-15px) rotateZ(-45deg);
  background: var(--dark-color);
}

.nav-overlay {
  position: fixed;
  top: 0;
  height: 100vh;
  width: 100%;
  background-color: #fff;
  z-index: 98;
  display: flex;
  align-items: center;
}

.nav-overlay-hide {
  display: none;
}

.noscroll-overlay {
  overflow: hidden;
}

.overlay-nav-links {
  display: flex;
  flex-direction: column;
  height: 70vh;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}

.overlay-nav-links li {
  list-style: none;
}

.overlay-nav-links a {
  text-decoration: none;
  color: var(--dark-color);
  font-weight: 700;
  font-size: 2.5rem;
}

.hero-socials {
  margin-top: 2rem;
  display: flex;
  align-items: center;
}

.hero-socials a {
  color: #fff;
  margin-right: 10px;
}

.hero-socials-line {
  height: 2px;
  width: 100px;
  background-color: #fff;
  margin-right: 20px;
}

.hero-text {
  padding: 1rem 0 3rem;
}

.hero-text h1 {
  font-size: 1rem;
  padding-bottom: 0.6rem;
}

.hero-text h2 {
  font-size: 1.8rem;
}

.btn {
  cursor: pointer;
  border: none;
  border-radius: 3px;
  text-decoration: none;
  background-color: var(--primary-color);
  color: #000;
  padding: 0.6rem 0.8rem;
  font-weight: 700;
  font-size: 0.8rem;
  align-self: flex-start;
}

#projects {
  padding: 4rem 2rem 1rem;
}

#projects .section-title h2 {
  font-size: 1.2rem;
  padding-bottom: 3rem;
}

.project-container {
  display: flex;
  flex-direction: column;
}

.project-thumbnail {
  position: relative;
  margin-bottom: 1rem;
}

.project-thumbnail img {
  width: 100%;
}

.project-thumbnail::before {
  content: '';
  position: absolute;
  top: -7%;
  left: -5%;
  width: 100%;
  height: 100%;
  border: 1px solid var(--primary-color);
  z-index: -1;
}

.project-info {
  margin-bottom: 3rem;
}

.project-info h3 {
  font-size: 1.1rem;
}

.project-info p {
  padding-top: 1rem;
}

.project-links {
  padding-top: 1rem;
}

.project-links a {
  color: var(--dark-color);
  margin-right: 0.5rem;
}

#about {
  background-color: #202020;
  color: #fff;
  padding: 4rem 2rem;
}

#about .section-title h2 {
  font-size: 1.2rem;
  padding-bottom: 2rem;
}

#about p {
  padding-bottom: 1rem;
}

.section-right {
  padding-top: 1rem;
}

#about ul {
  list-style: none;
}

#about li {
  margin-bottom: 0.5rem;
}

#about li::before {
  content: '▹';
  color: var(--primary-color);
  padding-right: 1rem;
}

#contact-me {
  padding: 4rem 2rem;
}

#contact-me .section-title h2 {
  padding-bottom: 2rem;
  font-size: 1.2rem;
}

#contact-me p {
  padding-bottom: 1rem;
}

.contact-email-link {
  display: flex;
}

.contact-email-link a {
  color: var(--dark-color);
  padding-right: 0.5rem;
}

.contact-socials a {
  color: var(--dark-color);
  margin-right: 0.5rem;
}

#contact-me form label {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
}

.label-content span {
  opacity: 0.7;
  font-size: 0.8rem;
}

#contact-me form input {
  padding: 0.6rem;
  margin-top: 0.3rem;
  border: none;
  border-radius: 5px;
  background-color: #f6f6f6;
}

#contact-me form textarea {
  height: 6rem;
  padding: 0.6rem;
  border: none;
  border-radius: 5px;
  background-color: #f6f6f6;
  resize: none;
}

#contact-me form button {
  margin-top: 1.5rem;
  font-family: 'Montserrat', sans-serif;
}

.bg-contact-layout {
  display: none;
}

@media (min-width: 900px) {
  .hero-section,
  #projects,
  #about,
  #contact-me {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .sm-nav {
    display: none;
  }

  .bg-nav {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    justify-content: flex-end;
  }

  .logo,
  .bg-nav-links {
    margin: 2rem 4rem;
  }

  .bg-nav-links {
    width: 40%;
    display: flex;
    justify-content: space-between;
    list-style: none;
  }

  .bg-nav-item a {
    color: #fff;
    text-decoration: none;
  }

  #projects {
    padding-bottom: 0;
  }

  #projects .section-title h2 {
    padding-bottom: 2rem;
  }

  .project-container {
    flex-direction: row;
    margin: 2rem 0 4rem;
    justify-content: space-between;
    width: 100%;
  }

  .project-thumbnail {
    flex: 1;
    margin-bottom: 0;
    height: 100%;
    align-self: center;
  }

  .project-info {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-size: 0.8rem;
    flex: 1;
    text-align: right;
    padding-left: 2rem;
    margin-bottom: 0;
  }

  .reverse {
    flex-direction: row-reverse;
  }

  .reverse .project-info {
    text-align: left;
    padding-left: 0;
    padding-right: 2rem;
  }

  .section-content {
    display: flex;
  }

  .section-left,
  .section-right {
    flex: 1;
  }

  .section-left {
    margin-right: 3rem;
  }

  .section-right {
    padding-top: 0;
  }

  #contact-me .section-title h2 {
    padding-bottom: 1rem;
  }

  #contact-me .section-left {
    padding-top: 1rem;
  }

  #contact-me .section-right {
    flex: 1.5;
  }

  .label-container {
    display: flex;
  }

  .label-container label {
    flex-grow: 1;
    width: 100%;
  }

  .label-container label:nth-of-type(1) {
    margin-right: 1rem;
  }

  .sm-contact-layout {
    display: none;
  }

  .bg-contact-layout {
    display: inline;
  }
}
